h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #00BFFF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
        font-family: 'Nanum Pen Script';
    }

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.container {
    background-color: #ffffff;
    margin-top: 40px;
}
.box_font {
    font-family: 'Hanna';
}
button {
    font-family: 'Lobster';
}
.community_title {
    font-family: 'Hanna';
    color: #FCA205;  
}
.community-header {
    margin-top: 100px;
}
.content-container2 {
    margin-top : 40px;
    margin-left:120px;  
}